.site-main {
    font-family: 'Roboto', sans-serif;
    padding: 5rem;
}

/* .........................Section-onea: About us .....................*/
.heading-wrapper {
    border-left: 5px solid tomato;
    font-size: 40px;
    padding-left: 10px;
}

.heading-part-two {
    color: orange;
}

.section-one .section-text p {
    font-size: 20px;
}

#explore {
    background-color: orangered;
    text-decoration: none;
    font-weight: 700;
    color: whitesmoke;
    padding: 10px 20px;
    border-radius: 5px;
}

.section-one .about-link {
    margin-top: 30px;
    margin-bottom: 30px;
}

.section-text {
    width: 65%;
    margin-right: 10px;
}

.section-image {
    width: 35%;
    margin-left: 10px;
    display: flex;
}

.flexible-container {
    display: flex;
}

.section-one .section-image img {
    border-radius: 50%;
}

/* .........................Section-Two: Mission-Vission .....................*/
.section-two {
    margin-top: 70px;
}

.mission-heading {
    text-align: center;
    font-size: 35px;
}

.section-two .mission-description h3 {
    font-size: 30px;
}

.section-two .mission-description img {
    width: 35%;
    height: auto;
}

.container-item {
    width: 30%;
    border: 1px solid transparent;
    margin: 20px 20px;
    padding: 20px 30px;
}

.container-item p {
    font-size: 20px;
}

.mission {
    background-color: rgb(225, 249, 252);
}

.vission {
    background-color: rgb(250, 220, 226);
}

.goal {
    background-color: rgb(226, 204, 226);
}

/* .........................Section-Three: Development Commitment..............*/
.section-three {
    margin-top: 70px;
}

.link-button {
    background-color: orangered;
    text-decoration: none;
    font-weight: 700;
    color: whitesmoke;
    padding: 20px 50px;
    border-radius: 5px;
}

.section-three img {
    width: 90%;
}

.sec-three-heading {
    font-size: 35px;
}

.section-three .section-text p {
    font-size: 20px;
    text-align: justify;
    margin-bottom: 50px;
}

/* .........................Section-four:Global Community..............*/
.section-four {
    margin-top: 70px;
}

.section-four .section-image {
    margin-left: 200px;
}

.section-four .section-image img {
    width: 100%;
}

.sec-four-heading {
    font-size: 35px;
}

.section-four .para {
    font-size: 20px;
    text-align: justify;
    margin-bottom: 50px;
}

/* .........................Section-five:Services offer..............*/
.section-five {
    margin-top: 70px;
}

.services-intro {
    text-align: center;
    margin-bottom: 70px;
}

.intro-heading {
    font-size: 35px;
}

.intro-para {
    font-size: 20px;
}

.service-heading {
    font-size: 30px;
}

.service-para {
    font-size: 20px;
}

.service {
    background: rgba(248, 255, 253, 0.973);
    margin: 20px 20px;
    padding: 60px;
    width: 350px;
    text-align: center;
}

/* .........................Footer Area..............*/
#footer-area {
    margin-left: 0;
    margin-top: 50px;
    background-color: black;
    padding: 40px;
}

.footer-text {
    text-align: center;
    color: rgb(196, 185, 185);
}

.footer-heading {
    font-size: 50px;
    font-family: 'Imperial Script', cursive;
}

.year {
    color: rgb(252, 109, 84);
}

.footer-para {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}